.modal-dialog.settings {
  margin-top: 2rem;
  .settingsWrapper {
    padding: 0 1rem !important;
  }
  .page-header {
    
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0rem !important;
    h2{
      font-size: 1.9rem;
    }
  }
}