.modal-dialog.changelog{

    h1, h2, h3, h4, h5, h6 {
        font-weight: 800 !important;
    }

    .c_btn{
        position: absolute;
        left: 0;
        right: 0;
        width: 200px;
        margin: 0 auto;
        color:theme-color("primary") !important;
    }
}