.btn.loading {
  color: transparent !important;
  pointer-events: none;
}

.btn {
  position: relative;
}

.circle-loader {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border: 2.4px solid;
  border-top-color: rgba(255, 255, 255, 0.85);
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.85);
  border-right-color: rgba(255, 255, 255, 0.15);
  animation: circle-loader 0.8s linear infinite;
  transform-origin: center center;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;

  margin: -.64285714em 0 0 -.64285714em;
  color: transparent !important;
}

@keyframes circle-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}