@import "../../../../css/vars";

main .offline {
  &.full {
    color: #fff;
    background: lighten($black, 5%);
    i {
      font-size: 5rem;
      display: block;
      padding: 2rem;
    }
    .img-overlay {
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 100vw;
      height: 50vh;
      position: absolute;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        background: rgba(46, 47, 51, 0.6);
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
      }

    }
    .offline-content {
      position: relative;
      z-index: 2;
      max-width: 500px;
      margin: 0 auto;
      padding-top: 200px;
      text-align: center;
    }
  }
}