{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "electron": "3.0.6"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}