@import "../../../css/bootstrap.imports.scss";
.full-width-center {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: $white;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}