.user {
  color: #717171;

  .userProfile {
    text-decoration: none !important;
    color: var(--clr-user-profile-text) !important;
    padding: 4px 4px 4px 6px;
    border-radius: .25rem;
    margin-right: .4rem;
    display: block;

    &:hover {
      background: var(--clr-user-profile-hover);
    }
  }

  .userImage img {
    margin-left: 5px;
    border-radius: .25rem;
    width: 30px;
  }

  .userName {
    font-size: .9rem;
  }

}
