@import "../../../css/bootstrap.imports.scss";

.songs {
  padding: 0 30px !important;
}

.songs .trackWrapper {
  @include make-col-ready();
  @media (min-width: 1000px) and (max-width: 1250px) {
    @include make-col(3, 9);
  }
  @media (min-width: 1250px) and (max-width: 1500px) {
    @include make-col(3, 12);
  }
  @media (min-width: 1500px) {
    @include make-col(3, 15);
  }
  min-width: 230px;
  height: 350px;
}

.track-grid-item {
  padding: 10px;
  max-width: 260px;
  .trackCount {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    margin: 20px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    padding: 15px;
    font-size: .8rem;
    color: darken(#fff, 15%);
    span {
      color: #fff;
      display: block;
      &:first-child {
        font-size: 1.3rem;
      }
    }
  }
  .actions-dropdown:not(.show) {
    opacity: 0;
  }
  .actions-dropdown.show+.trackTime {
    opacity: 0 !important;
  }
  .trackImage:hover,
  &.isPlaying .trackImage {
    .actions-dropdown,
    .trackGenre {
      opacity: .8;
      transition: .5s all;
    }
    .toggleButton {
      opacity: 1;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transition: 0.2s opacity ease-out, 0.2s transform ease-out;
      transition-delay: .1s;
      z-index: 1;
    }
    .trackStats {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      transition: 0.1s opacity ease-out, 0.1s transform ease-out;
    }
    .trackTime {
      opacity: 0;
      transition: 0.2s opacity;
    }
  }
  .trackImage:hover {
    .trackStats {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      transition: 0.1s opacity ease-out, 0.1s transform ease-out;
    }
    .imageWrapper:after {
      opacity: .05;
      transition: 0.5s ease;
    }
  }
  .trackTime {
    color: white;
    font-size: 14px;
    position: absolute;
    right: 0;
    border: 0;
    margin-right: 12px;
    bottom: 0;
    margin-bottom: 12px;
    pointer-events: none;
    i {
      font-size: 16px;
      padding-right: 3px;
    }
    span,
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .toggleButton {
    background: #fff;
    border-radius: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
    transform: scale(0, 0);
    opacity: 0;
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
    &.minimal {
      width: 100px;
      height: 100px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: .85;
      box-shadow: none;
      i {
        font-size: 5rem;
      }
    }
    i {
      color: theme-color("primary");
      font-size: 1.9rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .trackImage {
    position: relative;
    & .imageWrapper {
      overflow: hidden;
      box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
      position: relative;
      & img {
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
        max-width: 100%;
        min-height: 200px;
        width: 100%;
        border-radius: .5rem;
      }
    }
  }
  .trackInfo {
    padding: 5px 0;
    i {
      color: #6e727d;
      padding-right: 8px;
      &.icon-favorite {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: white;
        color: theme-color("primary");
        border: 1px solid #eaeaea;
        padding-right: 0;
        margin-right: .8rem;
        padding-right: 0;
      }
    }
    .trackTitle {
      font-weight: $font-weight-bold;
      a {
        color: $black;
      }
    }
    .trackArtist {
      font-size: 0.96em;
      a {
        color: #6e727d;
        &.repost {
          opacity: 0.7;
        }
      }
      i {
        padding: 5px;
      }
      * {
        vertical-align: middle;
      }
    }
  }
  .trackGenre {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(34, 35, 38, 0.47);
    color: $white;
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: $font-weight-bold;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    opacity: 0;
  }
  .trackFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 .5rem .5rem;
    &:after {
      content: '';
      border-radius: 0 0 .5rem .5rem;
      width: 100%;
      height: 190%;
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    }
    .actions-dropdown {
      .bp3-popover-target a {
        color: #fff;
        text-decoration: none;
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
  .trackStats {
    color: #fff;
    font-size: 14px;
    .stat {
      display: inline-block;
      padding-right: 6px;
      i {
        padding-right: 2px;
        font-size: 16px;
      }
      span,
      i {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}