@import "../../css/bootstrap.imports.scss";
.page-header {
  padding: 20px 20px 15px 40px;
  h2 {
    color: #222326;
    font-size: 2.1rem;
    margin-bottom: .3rem;
  }
  .subtitle {
    margin: 0;
    color: $blue;
    font-weight: 600;
    font-size: 1rem;
  }
  .button-group {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
    a {
      margin-right: .5rem;
    }
  }
  &.withImage {
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-top: -52px;
    padding: 7rem 2rem 7rem 2.5rem;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, .25) 50%, rgb(255, 255, 255) 100%);
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: black;
      opacity: .3;
    }
    &+.songs {
      margin-top: -5rem;
    }
    &+.detailPage {
      margin-top: -6.5rem;
      position: relative;
      background: #f7f7f7;
      flex-grow: 1;
    }
    .gradient {
      background-image: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      height: 100%;
      opacity: .3;
      z-index: -1;
    }
    .bgImage {
      position: absolute;
      top: 0;
      left: 0;
      background-position: center center;
      background-size: cover;
      width: 120%;
      height: 120%;
      filter: blur(10px);
      margin: -10%;
      z-index: -1;
    }
    h2 {
      color: #fff;
      user-select: text;
    }
    .header-content {
      position: relative;
      z-index: 4;
    }
    .bp3-select {
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin-right: .9rem;
      border-radius: 6px;
      select {
        color: white;
        &:focus,
        &:active {
          outline: none !important;
        }
      }
      &:focus,
      &:active {
        outline: none !important;
      }
      &:after {
        color: white;
      }
    }
  }
}