.user_card {
  position: relative;
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: center;
    margin: 0 20px 20px;
  }
  .user_img {
    position: relative;
    width: 170px;
    height: 170px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);

    @include media-breakpoint-down(md) {
      width: 120px;
      height: 120px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      margin-right: -35px;

    }
    img {
      width: 100%;
    }
  }
  .user_info {
    padding-top: 30px;
    text-align: center;
    position: relative;

    @include media-breakpoint-down(md) {
      margin-left: 20px;
      padding-top: 0;
    }

    .c_btn {
      transition: .5s background !important;
      background: transparent;
    }
    .c_btn.following {

      background: #2980b9;
      color: #fff !important;
      border: none;
    }
  }

  .user_username {
    padding: 10px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
    background: #3f4144;
    margin-bottom: 10px;

    a {
      color: #fff;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      margin-top: -30px;
      margin-left: -20px;
      top: 0;
      left: 0;
    }
  }

}
