.trackInfo {
  font-size: .9rem;
  width: 320px;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 1rem;

  :global {
    a {
      color: #fff;
    }
  }
}

.trackDetails {
  flex-grow: 1;
  max-width: calc(100% - 60px);
  padding-left: 10px;
  .trackTitle {
    font-weight: 500;
  }
  .trackArtist {
    font-size: .8rem;
  }
}

.playerAlbum {
  width: 50px;
  height: 50px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
  flex-shrink: 0;
}