.player {
  background: $player_bg;

  & .imgOverlay {
    opacity: .95;
  }

  backdrop-filter: blur(10px);
  background: rgba(39, 40, 41, 0.46);

  padding: 8px 10px;
  color: #fff;
  position: relative;

  .imgOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;

    @if $player_overlay_img == false {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    img {
      width: 100%;
      position: absolute;
      top: -200px;
      left: 0;
      height: auto;

      filter: blur(10px);
      -webkit-filter: blur(10px);
      margin-left: -10px;
      margin-top: -10px;

    }
  }

  .playerInner {
    position: relative;
    z-index: 5;
    align-items: center;

    & > .flex {
      align-items: center;
    }
  }

  .playerControls {
    padding: 0 10px;

    i {
      font-size: 30px;
    }

    a {
      color: rgba(255, 255, 255, 0.78);
      transition: .5s all;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none !important;

      &:hover {
        color: rgba(255, 255, 255, 0.98);
      }

    }
  }
  .playerTimeLine {
    flex-grow: 1;

    .time {
      font-size: 12px;
      display: block;
      padding: 0 15px;
    }

    .progressWrapper {
      flex-wrap: nowrap;
    }

    .progressInner {
      width: 100%;
      cursor: pointer;
      padding: 8px 0;
    }
  }

  .progressWrapper {
    padding: 10px;
    &:hover {
      .rc-slider {
        .rc-slider-track {
          opacity: 1;
        }
        .rc-slider-handle {
          opacity: 1
        }
      }
    }
    .rc-slider {
      .rc-slider-track {
        background: theme-color("primary");
        opacity: .7;
      }
      .rc-slider-handle {
        background: white;
        border: none;
        opacity: 0;
      }
    }
  }

  .playerVolume {
    align-items: center;
    position: relative;

    i {
      cursor: pointer;
      font-size: 25px;
      padding: 10px 0;
    }
    &:hover .progressWrapper, .progressWrapper:hover, &.hover .progressWrapper {
      display: block;
      max-height: 160px;
    }

    .progressWrapper {
      position: absolute;
      top: 0;
      margin-top: -170px;
      margin-left: -3px;
      background: #222326;
      padding: 14px 8px;
      display: none;
      max-height: 0;
      height: 200px;
    }

    .progressWrapper:after {
      top: 100%;
      left: 50%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 8px solid rgba(34, 35, 38, 0);
      border-top-color: #222326;
      margin-left: -8px;
    }

    .progressInner {
      height: 150px;
      cursor: pointer;
      padding: 8px 8px;

      .playerProgress {
        height: 100%;
        width: 3px;
        background: #333437;

        .currentTime {
          width: 3px;
          background: theme-color("primary");
          bottom: 0;
          position: absolute;

          .handle {
            top: 0;
            margin-left: -3px;
            left: 0;
            margin-top: -3px;
          }
        }
      }
    }

  }

  .progressWrapper:hover .progressInner .handle, .playerVolume:hover .handle {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
    transition: 0.3s transform, opacity !important;
  }

  .trackInfo {
    padding-left: 10px;
    font-size: 15px;
    width: 300px;

    a {
      color: #fff;
    }

    .trackTitle {
      font-weight: 500;
    }
  }

  .playerAlbum img {
    width: 50px;
    height: 50px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
  }

  .action-group {
    padding: 0 15px 0 10px;
    a {
      color: white;
      text-decoration: none !important;
      &.active {
        color: theme-color("primary")
      }
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
}

.overflow {
  position: relative;
  overflow: hidden;
}


