@import "../../../css/bootstrap.imports.scss";
.playing {
	.playQueue {
		height: calc(100% - 130px);
		margin-bottom: 86px;
	}
}

.playQueue {
	will-change: transform;
	width: 300px;
	flex-shrink: 0;
	background: $black;
	color: #fff;
	z-index: 100009;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.11), 3px 3px 30px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
	max-height: 500px;
	height: calc(100vh - 120px);
	&:after {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 10px 0 10px;
		border-color: #222326 transparent transparent transparent;
		content: "";
		position: absolute;
		right: 0;
		margin-right: 10px;
	}
	.playqueue-title {
		padding: 10px 10px;
		border-bottom: 1px solid grey;
		font-size: 0.9rem;
		height: 44px;
		a {
			color: #fff;
			text-decoration: none;
			transition: 0.2s ease-in;
			&:active {
				transform: rotate(90deg);
				transition: 0.5s all;
			}
		}
	}
	.tracks {
		height: calc(100% - 44px);
		min-height: 60px;
		position: relative;
		overflow: hidden;
	}
	.track {
		height: 60px;
		border-left: 4px solid transparent;
		cursor: pointer;
		color: #f9f9f9;
		padding: 0 3rem 0 0.6rem;
		font-size: 0.9rem;
		text-decoration: none !important;
		.stats {
			color: #e4e4e4;
			opacity: 0.8;
			font-size: 0.75rem;
			margin-bottom: 0;
			a {
				color: #e4e4e4;
			}
			.stat {
				span {
					padding-right: 3px;
				}
				&:not(:first-child) {
					span:before {
						content: "";
						width: 5px;
						height: 5px;
						background: white;
						display: inline-block;
						vertical-align: middle;
						margin: 0 5px;
						border-radius: 100%;
					}
				}
			}
			i {
				font-size: 0.8rem;
			}
		}
		img {
			flex-shrink: 0;
		}
		.item-info {
			padding-left: 7px;
			width: 100%;
			max-height: 100%;
			.title {
				width: 100%;
				color: #f1f1f1;
			}
		}
		.image-wrap {
			position: relative;
		}
		.title a {
			color: #f1f1f1;
		}
		&:hover {
			background: lighten($black, 4%);
		}
		&.played {
			.item-info,
			img {
				opacity: 0.6;
			}
		}
		&.playing {
			border-left: 4px solid theme-color("primary");
			.title {
				color: theme-color("primary");
			}
		}
	}
}

.queueItem {
	position: relative;
	.actions-dropdown {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1rem;
		a {
			color: #fff;
			text-decoration: none;
			i {
				font-size: 1.2rem;
			}
		}
	}
}

.clearQueue {
	border: 1px solid;
	padding: 3px 8px;
	border-radius: 5px;
	margin-right: 1rem;
	font-size: 0.7rem;
	text-transform: uppercase;
}
