@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    box-shadow: 0 0 0 2px rgba($light-blue, .2);
    color:$light-blue;
    transform: scale(1.2);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}