@import 'react-redux-toastr/src/styles/index';
@import "./bootstrap.imports.scss";

body #root {
  .redux-toastr {
    .top-right {
      margin-top: 50px;
      margin-right: 20px;
      // width: 400px;
    }

    .toastr .rrt-left-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .rrt-holder {
        width: auto;
        height: auto;
        position: relative;
        top: auto;
        margin: 0;
        left: auto;
        line-height: initial;
      }
    }

    .toastr {

      background-color: var(--clr-content-bg);
      color: var(--clr-btn-text);
      font-size: 13px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

      opacity: 1;
      border-radius: 8px;
      padding: 10px 0;

      .rrt-title {
        font-size: .9rem;
      }

      .rrt-text {
        font-size: .8rem;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

      }

      img {
        width: 50px;
      }

      .rrt-middle-container {
        font-family: $font-family-base, sans-serif;
        width: auto;
        padding-right: 10px;
      }

      &.rrt-info {
        &:before {
          background: linear-gradient(95deg, fade-out(theme-color("info"), .70) 0%, rgba(255, 255, 255, 0) 40%);
        }

        .rrt-title {
          color: theme-color("info");
        }

        .toastr-icon {
          fill: theme-color("info")
        }
      }

      &.rrt-success {
        &:before {
          background: linear-gradient(95deg, fade-out(theme-color("success"), .70) 0%, rgba(255, 255, 255, 0) 40%);
        }

        .rrt-title {
          color: theme-color("success");
        }

        .toastr-icon {
          fill: theme-color("success")
        }
      }

      &.rrt-error {
        &:before {
          background: linear-gradient(95deg, fade-out(theme-color("danger"), .70) 0%, rgba(255, 255, 255, 0) 40%);
        }

        .rrt-title {
          color: theme-color("danger");
        }

        .toastr-icon {
          fill: theme-color("danger")
        }
      }

      &.rrt-warning {
        &:before {
          background: linear-gradient(95deg, fade-out(theme-color("warning"), .70) 0%, rgba(255, 255, 255, 0) 40%);
        }

        .rrt-title {
          color: theme-color("warning");
        }

        .toastr-icon {
          fill: theme-color("warning")
        }
      }
    }
  }
}