$blue: #1a97ea;

$player_overlay_img: true;
$player_bg: #272829;

$sidebar_bg: #222326;
$navbar_bg: #2f343f;

$input-focus-width: 0px;
$input-focus-box-shadow: none;

@import "../../../node_modules//bootstrap/scss/functions";
@import "../../../node_modules//bootstrap/scss/variables";

