@import "../../../../css/bootstrap.imports.scss";
.modal-dialog {
  .close {
    a {
      color: #9c9c9c;
      transition: .4s all;
      text-decoration: none !important;
      &:hover {
        color: theme-color("primary");
      }
    }
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: .2rem;
  }
  &.utilities {
    .close {
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 20px;
    }
    .nav-item {
      margin-bottom: 0;
    }
    .nav-link {
      border: none !important;
      cursor: pointer;
      padding-top: 0;
      opacity: .9;
      transition: .4s all;
      font-size: 1.4rem;
      display: flex;
      flex-flow: column;
      &:hover {
        opacity: 1;
      }
      color: #9c9c9c;
      text-align: center;
      i {
        color: #878787;
      }
      &.active {
        color: theme-color("primary");
        i {
          color: theme-color("primary");
        }
      }
      div {
        font-size: .7rem;
      }
    }
  }
}