@import "../../../../../css/bootstrap.imports.scss";

.trackInfo {
  width: 270px;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 1rem;
  :global {
    a {
      color: #fff;
    }
  }
  &:hover {
    .trackLike {
      background: rgba(0, 0, 0, 0.23);
      :global i {
        transform: scale(1);
      }
    }
  }
}

.trackDetails {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  padding-left: 10px;
  font-size: .8rem;
  .trackTitle {
    font-weight: $font-weight-bold;
  }
  .trackArtist {
    font-size: .7rem;
  }
}

.playerAlbum {
  width: 40px;
  height: 40px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
  flex-shrink: 0;
  position: relative;
}

.trackLike {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-decoration: none !important;
  :global i {
    transform: scale(0);
    transition: .1s ease-out;
  }
}

.trackLike__liked {
  :global i{
    color: $red;
  }
}