.login {
  height: 100vh;

  &:not(.login_small){
    .login_svg {
      transform: translateX(200px);
      transition: .5s transform cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  &.login_small{
    .login-wrap {
      max-width: 375px;
    }

    .login_section {
      max-width: 300px;
    }
  }
  .row {
    padding: 5rem;
  }
  .bp3-button {
    appearance: none;
    background-image: linear-gradient(135deg, #6fa6ce 0%, #0275d8 100%) !important;
    border: none !important;
    color: #fff !important;
    padding: .8rem 1.3rem;
    box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.2);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    i {
      font-size: 1.4rem;
    }
    &.block {
      width: 100%;
    }
    .bp3-spinner .bp3-spinner-head {
      stroke: white;
    }
    &:hover,&:active {
      box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.3);
    }
    &:active {
      background:initial;
    }
  }
  .settings {
    font-size: .9rem;
    border: none !important;
    text-decoration: underline;
    color: #797979;
    background: transparent;
    &:hover {
      color: darken(#797979, 5%)
    }
  }
  .row {
    height: 100%;
  }
  .login-wrap {
    position: relative;
    z-index: 1;
  }
  .login-img-wrap {
    max-width: 200px;
  }
  .sub-title {
    color: #797979;
    padding: 2rem 0 3.5rem;
    .description {
      font-size: .8rem;
    }
  }
}

div#login:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  z-index: 99999999999;
  content: "";
  right: 0;
  -webkit-app-region: drag;
}

.login_svg {
  width: 85vw;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -7rem;
  max-height: 90vh;
  -webkit-app-region: drag;
}

.sponsors {
  display: inline-block;
  background: white;
  box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3rem;
  width: 350px;
}

.first {
  animation-delay: .1s
}

.second {
  animation-delay: .2s
}

.third {
  animation-delay: .3s
}