@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../css/vars";

#search-page {

  #playlist-header {
    height: 150px;
    margin-bottom: 5rem;
  }

  #playlist-info {
    max-width: 400px;
    margin: 80px auto 0;
  }

  .search-box {
    background: white;
    padding: 8px 10px;
    box-sizing: content-box;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
  }

  .search-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 210px;
    background-size: cover;
    width: 100%;
    z-index: -1;
    background-position: -200px center;
  }
  .search-header {
    color: #fff;
    margin: 2rem 0 3.5rem;
  }
  .search-tabs {
    margin-bottom: 20px;
    .nav-link {
      font-size: .9rem;
      padding: .5rem .5rem .25rem;
      color: #77797d;
      &.active {
        color: theme-color("primary") !important;
        border-bottom: 1px dashed;
      }
    }
  }

  .search-user {
    color: #484848;
    margin-bottom: 15px;

    &.horizontal {

      @include make-col-ready();
      @media (min-width: 1300px) and (max-width: 1500px) {
        @include make-col(3, 12);
      }
      @media (min-width: 1500px) {
        @include make-col(1, 9);
      }
    }
    .user-info {
      margin-left: 20px;
    }

    .stats {
      & > div {
        margin: 0 3px;
      }
      i {
        font-size: 1rem;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}