#search-page {

  .search-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 210px;
    background-size: cover;
    width: 100%;
    z-index: -1;
    background-position: -200px center;
  }
  .search-header {
    color: #fff;
    margin: 2rem 0 3.5rem;
  }
  .search-tabs {
    margin-left: 9.8rem;
    padding-bottom: 1rem;
    .nav-link {
      font-size: .8rem;
      color: #77797d;

      background: white;
      padding: 6px 12px;
      box-sizing: content-box;
      border-radius: 5px;
      margin-right: 10px;
      border: 1px solid #f1f1f1;

      &.active {
        color: theme-color("primary") !important;
        font-weight: bold;
      }
    }
  }

  .search-user {
    color: #484848;
    margin-bottom: 15px;

    &.horizontal {

      @include make-col-ready();
      @media (min-width: 1300px) and (max-width: 1500px) {
        @include make-col(3, 12);
      }
      @media (min-width: 1500px) {
        @include make-col(1, 9);
      }
    }
    .user-info {
      margin-left: 20px;
    }

    .stats {
      & > div {
        margin: 0 3px;
      }
      i {
        font-size: 1rem;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}