@import "../../../../../../css/vars.scss";

.about {
  text-align: center;
  font-size: .85rem;
  .logo {
    max-width: 200px;
    margin: 0 auto;
  }

  section {
    margin-bottom: 3rem;

    &.details {
      div:not(:last-child) {
        &:after {
          content: "-";
          margin: 0 1rem;
        }
      }
    }

    h3 {
      font-size: 1.4rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
    }
  }
  .app-info {
    text-align: left;
    padding: 0 5rem;

    tr td:first-child{
      font-weight: bold;
    }
  }
}