@import "../../../css/bootstrap.imports.scss";

.playing #sidebar .custom-scroll {
  height: calc(100% - 122px) !important;
}

#sidebar-menu {
  margin-right: 10px;
  .navLink {
    text-decoration: none !important;
    display: block;
    padding: 3px 27px;
    font-size: .9rem;
    transition: 0.5s background;
    border-left: 4px solid transparent;
    color: $brand-grey-lighter;
  }
  .navLink:hover {
    transition: 0.5s color;
    color: $white !important;
  }
  .navItem .navLink.active {
    font-weight: 700;
    opacity: 1;
    color: $white !important;
    border-left: 4px solid theme-color("primary");
  }
  .navItem.isCurrentPlaylist .navLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:after {
      content: '';
      background: theme-color("primary");
      width: 6px;
      height: 6px;
      border-radius: 100%;
      display: block;
    }
  }
  .navItem.isActuallyPlaying .navLink {
    &:after {
      animation: breathing 5s ease-out infinite normal;
    }
  }
  .navLink * {
    vertical-align: middle;
  }
  .navLink i {
    width: 30px;
    display: inline-block;
    font-size: 18px;
  }
  .nav {
    list-style-type: none;
    padding-left: 0;
  }
  .nav {
    margin-bottom: 20px;
  }
}

.drag-strip {
  height: 23px;
  -webkit-app-region: drag;
  flex-shrink: 0;
}

.mac {
  .drag-strip {
    height: 53px;
  }
}

#sidebar {
  width: 260px;
  flex-shrink: 0;
  background: $black;
  position: fixed;
  height: 100%;
  overflow: hidden;
  h2 {
    font-size: .8rem;
    text-transform: uppercase;
    padding: 10px 30px 0;
    color: $brand-grey;
    font-weight: bold;
    margin-bottom: .9rem;
  }
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  25% {
    box-shadow: 0 0 0 2px rgba($light-blue, .2);
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}