@import "../../../renderer/css/vars";

.modal-dialog.utilities {
  .close {
    a {
      color: #9c9c9c;
      transition: .4s all;
      text-decoration: none !important;
      &:hover {

        color: theme-color("primary");
      }
    }
    display: inline-block;
    margin: 20px;
    position: absolute;
    right: 0;
    top: 0
  }
  .nav-tabs {
    margin-bottom: 20px;
  }
  .nav-link {
    border: none !important;
    cursor: pointer;
    padding-top: 0;
    opacity: .9;
    transition: .4s all;
    &:hover {
      opacity: 1;
    }
  }
  .nav-item {
    margin-bottom: 0;
  }

  .nav-link {
    color: #9c9c9c;
    text-align: center;

    i {
      color: #878787;
    }
    &.active {
      color: theme-color("primary");
      i {

        color: theme-color("primary");
      }
    }
    div {
      font-size: .7rem;
    }
  }
}