@import "../../css/bootstrap.imports.scss";
.settingsWrapper {
  padding: 0 2.5rem;
}

.donationBox {
  background: hsl(204, 89%, 93%);
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  color: hsl(204, 47%, 34%);
  font-size: .9rem;
  align-items: center;
  line-height: 1.7;
  .iconWrapper {
    background: hsl(204, 82%, 82%);
    flex-shrink: 0;
    padding: 10px;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $red;
    margin-right: 2rem;
  }
  a {
    color: hsl(204, 61%, 35%);
    text-decoration: none;
    background-color: transparent;
    text-decoration: wavy;
    text-decoration: underline;
    text-decoration-color: rgba(#92d2fb, .8);
    text-decoration-style: wavy;
    font-weight: bold;
    margin-left: .3rem;
    &:hover {
      color: hsl(204, 61%, 30%);
      text-decoration-color: rgba(#92d2fb, 1);
    }
  }
}

.setting-group {
  margin: 0 0 1rem;
  font-size: .85rem;
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .setting-group-title {
    padding: 6px 12px 6px 0;
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--clr-settings-group-title);
    font-weight: $font-weight-bold;
    &:after {
      content: "";
      width: 40px;
      height: 2px;
      background: theme-color("primary");
      display: block;
      margin-top: 5px;
    }
  }
  .bp3-control {
    font-size: 15px;
  }
  .setting {
    font-size: 15px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    .form-control{
      background: var(--clr-input-bg);
      color: var(--clr-input-text) !important;
      border-color: var(--clr-input-border);
    }
    i {
      vertical-align: middle;
    }
    .bp3-switch {
      flex-grow: 1;
    }
    .value {
      color: $brand-grey;
    }
    &:not([class*="col-"]) {
      padding: 10px 0 5px;
    }
    span {
      vertical-align: text-bottom;
    }
    select,
    input:not([type="checkbox"]) {
      width: 270px;
    }
  }
}

.info-message {
  background: hsla(204, 64%, 93%, 1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: hsla(204, 10%, 42%, 1);
  font-size: 0.85rem;
  a {
    text-decoration: underline;
  }
}
.bp3-button:not([class*="bp3-intent-"]){
  background: var(--clr-input-bg);
  color: var(--clr-input-text);
  &:hover{
    background: var(--clr-input-hover-bg);
  }
}