@import "../../css/vars";

.artistPage {
  .trackHeader .imageWrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
  .trackDetails .imageWrapper {
    max-width: 220px;
  }
}

.artistSide {
  background: #F5F5F5;
  padding: 30px 50px;
  font-size: .9rem;
  .artistInfo {
    padding: 10px;
  }
}

.artistContainer {
  .userHeader {
    align-items: center;
    padding: 20px;
  }
  .userInfo {
    padding: 10px;
    .userName {
      font-size: 1.8rem;
    }
  }

  .userImage {
    position: relative;
  }
}

.artistStats {
  list-style-type: none;
  padding: 0 0 20px 0;
  color: #fff;

  li {
    padding: 0 10px;
  }

  span {
    display: block;
    &:first-child {
      font-size: 1.5rem;
    }
    &:last-child {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
}
