@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../css/vars";

.trackDetails {
  background: #f7f7f7;
  padding-top: 1rem;

  .track-info {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 1rem;
    strong {
      color: black;
      margin-top: .5rem;
      display: inline-block;
    }
  }

  .taglist {
    .badge {
      background: rgba(153, 153, 153, 0.66);
      font-size: .9rem;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
  }

  .stats {
    color: #999;
    font-size: 1rem;
    margin-bottom: 1rem;
    i {
      font-size: 1.3rem;
      &.bxs-heart {
        font-size: 1rem;
      }
      margin-right: .1rem;
    }
    span {
      margin-right: .5rem;
    }
  }

  .trackHeader, .tracktabs {
    flex-shrink: 0;
  }

  .trackPadding {
    padding: 20px 40px;
  }
  .trackPadding-side {
    padding: 0 40px;
  }
  .track-comments {
    padding: 20px 40px;
  }

  .trackDescription {
    color: #3a3e43;
    background: #fbfbfb;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    .descriptionInner.cut {
      max-height: 200px;
      overflow: hidden;
    }

    &.isOpen {
      max-height: 500px;
    }
  }
  .user_card_wrap {
    flex-grow: 0;
  }

}
