@import "../../../css/bootstrap.imports.scss";

main .offline {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: calc(100% - 52px);

  i {
    color: theme-color('primary');
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .offline-content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }

}