@import "../../../../css/vars";

.full-width-center {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
