@import "../../css/bootstrap.imports.scss";

.artistPage {
  .trackHeader .imageWrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
  .trackDetails .imageWrapper {
    max-width: 220px;
  }
}

.artistSide {
  background: #F5F5F5;
  padding: 30px 30px;
  font-size: .9rem;
  .artistInfo {
    padding: 10px;
  }
}

.artistContainer {
  .userHeader {
    align-items: center;
    padding: 20px;
  }
  .userInfo {
    padding: 10px;
    .userName {
      font-size: 1.8rem;
    }
  }

  .userImage {
    position: relative;
  }
}

.artistStats {
  list-style-type: none;
  padding: 0;
  color:#999;

  li {
    padding: 0 10px;
  }

  span {
    display: block;
    &:first-child {
      font-size: 1.2rem;
      color:#797979;
    }
    &:last-child {
      font-size: .9rem;
    }
  }
}
